.take {
	height: 100%;
	flex: 0 1 34%;
	display: flex;
	flex-direction: column;
}

.take .Home-attr {
	padding: 10px 20px;
} 
.take .Home-input {
	flex: 0 1 100%;
	width: 100%;
	text-align: center;
    font-size: 8rem;
}